#footer-content
    ul
        li: a(href="#top" id="footer_top_page" title=top_page aria-label=top_page)=top_page
        li: a(href="/contact-us" title=contact_us aria-label=contact_us)=contact_us
        li: a(href="/forgot_password" title=forgot_password aria-label=forgot_password)=forgot_password
        li: a(href="/privacy" title=privacy aria-label=privacy)=privacy
        li: a(href="/about-us" title=about_us aria-label=about_us)=about_us
        li: a(href="/registration" title=registration aria-label=registration)=registration
