#boxHeader(dir=dir)
    a(href="/" title=main aria-label=main) 
        img(src="/icons/logo-200px.png" alt="logo" width="100" height="43" id="logo")
    nav 
        a(href="/" id="header_nav_home" title=main aria-label=main)=main
        a(href="contact-us" id="header_nav_contact_us" title=contact_us aria-label=contact_us)=contact_us
        a(href="support-us" id="header_nav_support_us" title=support_us aria-label=support_us)=support_us